{
  "parser": "babel-eslint",
  "rules": {
    "prettier/prettier": "error",
    "implicit-arrow-linebreak": "off",
    "import/prefer-default-export": "off",
    "max-len": [
      "error",
      {
        "code": 130,
        "tabWidth": 2
      }
    ]
  },
  "extends": ["airbnb", "prettier", "plugin:prettier/recommended"]
}
