{
  "env": {
    "jest": true
  },
  "rules": {
    "no-underscore-dangle": "off",
    "implicit-arrow-linebreak": "off",
    "max-len": [
      "error",
      {
        "code": 130,
        "tabWidth": 2
      }
    ]
  },
  "extends": ["airbnb-base", "prettier", "plugin:prettier/recommended"]
}
